.well{style: 'display: none;', id: 'editor-help'}
  %ul{style: "list-style-type: none;"}
    %li Player
    %li
      %ul
        %li real_balance - кристалы
        %li game_balance - золото
        %li level - уровень
        %li food - еда
        %li exp - опыт
        %li total_exp - суммарный опыт